<nav class="flex justify-between">
  <ul class="flex items-center gap-4">
    <li class="flex items-center gap-2">
      <img src="/vite.svg" alt="Logo" class="h-8 w-8" />
      <span class="text-xl font-bold">Stockflow</span>
    </li>
    <div class="flex items-center gap-4 mt-[4px] ml-4">
      <li><a href="/" class="hover:text-gray-400">Dashboard</a></li>
      <li>
        <a href="/inventory" class="hover:text-gray-400">Retail Inventory</a>
      </li>
    </div>
    <!-- <li><a href="/warehouse" class="hover:text-gray-400">Warehouse</a></li> -->
  </ul>
  <ul class="flex items-center">
    <li>
      <button
        id="user"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        User
      </button>
    </li>
  </ul>
</nav>
